body {
  background: rgb(51, 51, 51);
}

span {
  color: azure;
}

.parent-box {
  display: grid;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 10%;
}

.child-box {
  display: grid;
  justify-content: center;
  background-color: cadetblue;
  padding: 20px 16px;
  width: 100%;
  border-radius: 5px 5px 5px 5px;

}


.content-main {
  padding-left: 41%;

}

.track-content {
  display: grid;
  justify-content: start;
  align-content: center;

  width: 300px;
  height: 300px;
  border-radius: 200px;
  background: radial-gradient(circle, transparent 30%, rgb(255, 255, 255));

}

.child-track {
  background-color: rgb(94, 95, 95);
  border-radius: 50px;
  height: 50px;
}


.path-run {
  width: 50px;
  height: 50px;

  transform-origin: 300% center;
  position: relative;
  animation: rotate 0s linear infinite;
}

.path-run:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50px;
  background: white;
  animation: rotate 0s linear reverse infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(-360deg);
  }
}


/* The best color ever */